{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Liste de {{ user_list.user.first_name }} {{ user_list.user.last_name }} ({{ user_list.user.username }})</h2>
<h4>ID : {{ user_list.pk }}</h4>

<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom du jeu</th>
        <th scope="col">Tarif</th>
        <th scope="col">Jeu vendu ?</th>
        <th scope="col">Date vente</th>
      </tr>
    </thead>
    <tbody>
    {% for item in user_list_items %}
        <tr>
            <th scope="row">{{item.pk}}</th>
            <td>{{ item.name }}</td>
            <td align="right">{{ item.price }} {{ SITE_CURRENCY_SETTING }}</td>
            <td>{% if item.is_sold %}<img src="/static/img/icon-yes.svg">{% else %}<img src="/static/img/icon-no.svg">{% endif %}</td>
            <td>{{ item.sold_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr><td colspan="2">Total vente :</td><td>{{total_sold}} {{ SITE_CURRENCY_SETTING }}</td><td></td><td></td></tr>
        <tr><td colspan="3">Nb jeux vendus :</td><td>{{number_sold}}</td><td></td></tr>
        <tr><td colspan="3">Total hors commission :</td><td>{{total_sold_minus_com}} {{ SITE_CURRENCY_SETTING }}</td><td></td></tr>
    </tfoot>
</table>

<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <button type="submit" name="cancel" class="btn btn-primary">Annuler</button>
</form>
{% endblock %}