{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Liste de {{ user_list.user }} {{ user_list.user.last_name }} ({{ user_list.user.username }})</h2>

<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom du jeu</th>
        <th scope="col">Tarif</th>
        <th scope="col">Jeu vendu ?</th>
      </tr>
    </thead>
    <tbody>
    {% for item in user_list_items %}
        <tr>
            <th scope="row">{{item.pk}}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{% if item.is_sold %}<img src="/static/img/icon-no.svg">{% else %}<img src="/static/img/icon-no.svg">{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <button type="submit" name="cancel" class="btn btn-primary">Annuler</button>
</form>
{% endblock %}