{% extends "base_generic.html" %}

{% block content %}

<h1>{{ event.event_name }} du {{ event.date_only }}</h1>
<p>{{ event.location }}</p>
<p>{{ event.comments }}</p>

<div style="margin-left:20px;margin-top:20px">
    <h4>État :</h4>
    {% if event.status == 1 %}
        <p>- Bourse Ouverte aux inscriptions - {% if user.is_authenticated %}<a href="{% url 'user-list-create-or-view' event.id %}">Participer !</a>{% endif %}</p>
    {% else %}
        <p>{{event.status_desc}}</p>
    {% endif %}
</div>

{% endblock %}