<!DOCTYPE html>
<html lang="fr">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <meta charset="utf-8">
    <title>Bourses aux jeux Woopy On Off</title>
</head>
<body>
<h1>Bienvenue sur le site des bourses aux jeux</h1>

{% if opened_registration_event %}
    <h2>Prochain événement :</h2>
    <ul>
    {% for event in opened_registration_event %}
        <li>{{ event.event_name }} du {{ event.event_date }}</li>
    {% endfor %}
    </ul>
{% else %}
    <h2>Pas d'evenement disponible.</h2>
{% endif %}
</body>