{% extends "base_generic.html" %}
{% block content %}

<h2>Ma liste</h2>
<h3>{{ userlist.list_label }}</h3>
{% if userlist.is_editable and userlist.event_status == 1 %}
<div class="row spacer"><div class="col-3 ">
    <a href="{% url 'bourse:add-item-to-list' userlist.pk %}"><button class="btn btn-block btn-primary">Ajouter un jeu.</button></a>
</div></div>
<p></p>
{% endif %}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Libellé</th>
            <th scope="col">Prix de vente</th>
            <th scope="col">Jeu vendu ?</th>
            <th scope="col">Date vente</th>
            {% if userlist.is_editable and userlist.event_status == 1 %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in userlist.item_set_sorted %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{% if item.is_sold %}<img src="/static/img/icon-yes.svg">{% else %}<img src="/static/img/icon-no.svg">{% endif %}</td>
            <td>{% if item.is_sold %}{{item.sold_date}}{% else %}-{% endif %}</td>
            {% if userlist.is_editable and userlist.event_status == 1 %}
            <td><a href="{% url 'bourse:edit-item-from-list' userlist.pk item.pk %}">Éditer</a> / <a href="{% url 'bourse:del-item-from-list' userlist.pk item.pk %}">Supprimer</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% if userlist.event_status > 1 %}
            <tr><td colspan="2">Nombre jeux vendus :</td><td>{{nb_sold}}</td><td></td></tr>
            <tr><td colspan="2">Total commission exclue :</td><td>{{total_vente}}</td><td></td></tr>
        {% endif %}
    </tbody>
</table>

{% if userlist.is_editable and userlist.event_status == 1 %}
<p>Une fois prêt, validez votre liste, vous ne pourrez alors plus l'éditer.</p>
<div class="row spacer"><div class="col-3 ">
    <a href="{% url 'bourse:validate-list' userlist.pk %}"><button class="btn btn-block btn-primary">Valider ma liste.</button></a>
</div></div>
{% else %}
    <p>Cette liste ne peut plus être modifiée.</p>
{% endif %}

{% endblock %}