{% extends "base_generic.html" %}
{% block content %}
<h2>Ma liste</h2>
<h3>{{ userlist.list_label }}</h3>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Libellé</th>
            <th scope="col">Prix de vente</th>
            <th scope="col">Jeu vendu ?</th>
            <th scope="col">Date vente</th>
            {% if userlist.is_editable and userlist.event_status == 1 %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in userlist.item_set.all %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{% if item.is_sold %}<img src="/static/img/icon-no.svg">{% else %}<img src="/static/img/icon-no.svg">{% endif %}</td>
            <td>{% if item.is_sold %}{{item.sold_date}}{% else %}-{% endif %}</td>
            {% if userlist.is_editable and userlist.event_status == 1 %}
            <td><a href="{% url 'edit-item-from-list' userlist.pk item.pk %}">Éditer</a> / <a href="{% url 'del-item-from-list' userlist.pk item.pk %}">Supprimer</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if userlist.is_editable and userlist.event_status == 1 %}
    <p><a href="{% url 'add-item-to-list' userlist.pk %}">Ajouter un jeu.</a></p>
    <p><a href="{% url 'validate-list' userlist.pk %}">Valider ma liste.</a></br>
    Une fois prêt, validez votre liste, vous ne pourrez alors plus l'éditer.</p>
{% else %}
    <p>Cette liste ne peut plus être modifiée.</p>
{% endif %}
{% endblock %}