{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h2>Réinitialiser votre mot de passe :</h2>
  <p>Entrez l'adresse mail avec laquelle vous avez créé votre compte afin de recevoir des instructions pour réinitialiser votre mot de passe.</p>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
  <table>{{ form|crispy }}</table> 
  <input type="submit" class="btn btn-primary" value="Réinitialiser">
  </form>
{% endblock %}