{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Merci d'entrer (et confirmer) votre nouveau mot de passe</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nouveau mot de passe:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmer le nouveau mot de passe:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Échec du formulaire de mise à jour du mot de passe.</h1>
        <p>Le lien de ré-initialisation du mot de passe est invalide, il a potentiellement déjà été utilisé. Merci de demander une nouvelle ré-initialisation de mot de passe.</p>
    {% endif %}
{% endblock %}