<div class='row'>
    <div class='col-12 col-md-8'>


    <h1>{{ object.name }}</h1>
    {% if object.get_edit_url %}
    <small>
        <a href='{{ object.get_edit_url }}'>Edit</a> 
        <a href='{{ object.get_delete_url }}' hx-post='{{ object.get_delete_url }}' hx-confirm='Are you sure you want to delete {{ object.name }}?' hx-trigger='click'>Delete</a> 
    </small>

    {% endif %}
    <p>{{ object.description }}</p>
    <p>{{ object.directions }}</p>

    </div>

    <div class='col-12 col-md-4'>

    {% for item in object.item_set_sorted %}
    {% include 'bourse/partials/item-inline.html' with object=item %}
    {% endfor %}


        <div id='item-create'> 

        </div>

        <button hx-get="{{ new_item_url }}" hx-trigger='click' hx-target='#item-create' hx-swap='beforeend'>Add item</button>

    </div>
</div>